.client/client
.client/x64
.client/client.sln
.client/client.vcxproj
.client/client.vcxproj.filters
.client/client.vcxproj.user

.client2/client2
.client2/x64
.client2/client2.sln
.client2/client2.vcxproj
.client2/client2.vcxproj.filters
.client2/client2.vcxproj.user

.server/Debug
.server/server
.server/x64
.server/server.sln
.server/server.vcxproj
.server/server.vcxproj.filters
.server/server.vcxproj.user